<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/4e0cbb95da.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="todo">
        <div class="logo">
            <img src="" alt="">  
            <!-- Insert logo -->
        </div>
        <div class="new-task">
            <input type="text" placeholder="Inserisci task" @keyup.enter="addTask" v-model="message">
            <button @click="addTask">Aggiungi</button>
        </div>
        <div class="task-container">
            <ul v-if="tasks.length > 0">
                <li class="task" v-for="(task, i) in tasks" :key="i">
                    <span :style="{ 'text-decoration': task.done ? 'line-through' : 'none' }">
                        {{ task.text }}
                      </span>
                    <i class="fas fa-times" @click="taskText(i)"></i>
                </li>
            </ul>
            <h2 v-else>Non ci sono nuovi task 🔥</h2>
        </div>

    </div>
    
    <script src="script.js"></script>
</body>
</html>